@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Moment Master</h1>
        <h3>Please login to continue.</h3><hr />


        <form asp-controller="Home" asp-action="Validate" method="post">
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
                <br />
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
                <br />
                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </form>
        <img src="~/images/logo.png" alt="clock" class="img-fluid" />
    </div>
