@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Use of Cookies and Data</h2>
<p>Like many web sites, Moment Master uses cookies to authenticate your user session and your login information. This information might include date and time of login, your IP address, pages on our site that you navigate to, and information regarding your internet browser.</p>
<p>This information is used only to manage user login sessions. Personal data is not shared with anyone. The information listed above might be stored in logs for diagnostics or maintenance purposes.</p>

