@model MomentMaster.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Comment Details</h1>

<div>
    <h4>@ViewBag.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Comment Text
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Comment_Id">Edit</a> |
    <a href="/TimeObjects/Details/@Model.Project_Id">Back to Project</a>
</div>
